<footer id="footer" class="dark-section">
  <div class="links pull-right">
    <a class="clickable" ng-click="showTos()">Terms and Conditions</a>
    <a scroll-to="top" class="clickable">Back to top</a>
  </div>
  <div class="links">
    <a href="mailto:info@piechopper.com" ng-click="trace.openEmail()">Email</a>
    <a href="https://twitter.com/piechopper" target="_blank" ng-click="trace.openTwitter()">Twitter</a>
    <a href="https://github.com/jojanaho/piechopper" target="_blank" ng-click="trace.openGithub()">Github</a>
  </div>
</footer>
