<div class="model-section row-fluid" id="overview-section">
  <div class="container">
    <div class="row">
      <div class="offset1 span5"><img class="overview-logo" src="app/img/piechopper_logo.png" alt="PieChopper logo"></div>
      <div class="span5">
        <h1>Chop your startup equity</h1>
        <p class="lead">Slice your founders' pie fairly.<br>Share your proposals.</p>
        <div class="proceed-actions">
          <button class="btn btn-large" scroll-to="model-selection-section">Begin</button>
        </div>
      </div>
    </div>
  </div>
</div>
