html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f9fa;
}

*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}
